.review-container {
    text-align: center;
    margin-bottom: 30px;
}

.review-img {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

@media only screen and (max-width: 700px) {
    .review-img {
        width: 100px;
        border-radius: 50%;
        display: block;
        margin: 0 auto;
    }

    .review-container h4 {
        font-size: 20px;
    }

    .review-container p {
        font-size: 14px;
    }
}