.service-summary {
    margin-bottom: 20%;
    background-color: rgba(255, 255, 255, 0.849);
    color: black;
    padding: 55px 5px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.carousel-container {
    min-height: calc(100vh - 80px);
    width: 100vw;
}

.carousel-img {
    height: calc(100vh - 80px);
    width: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 700px) {
    .service-summary {
        margin-bottom: 20%;
        background-color: rgba(255, 255, 255, 0.849);
        color: black;
        padding: 55px 5px;
        -webkit-clip-path: polygon(71% 0, 100% 11%, 100% 100%, 31% 100%, 0 90%, 0 0);
        clip-path: polygon(71% 0, 100% 11%, 100% 100%, 31% 100%, 0 90%, 0 0);
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}