.navbar-container {
    background-color: #3835ca;
    color: white;
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.log-out-btn {
    width: 130px;
    padding: 6px 0;
    font-size: 18px;
    font-weight: 500;
    color: white;
    border: none;
    background-color: rgb(241, 107, 18);
    margin-left: 15px;
}

.log-out-btn:hover {
    background-color: rgb(235, 61, 17);
}

@media only screen and (max-width: 768px) {
    .log-out-btn {
        width: 130px;
        padding: 6px 0;
        font-size: 18px;
        font-weight: 500;
        color: white;
        border: none;
        background-color: rgb(241, 107, 18);
        margin-left: 15px;
        margin-top: 10px;
    }
}