.banner-container {
    min-height: calc(100vh - 80px);
    background: rgba(0, 0, 0, 0.3) url('../../../images/banner/fridge.jpg');
    background-blend-mode: darken;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 10px;
}

.banner-text {
    margin: 0 0 0 570px;
}

.service-btn {
    padding: 10px 15px;
    font-size: 18px;
    border: none;
    background-color: rgb(241, 107, 18);
    color: white;
}

.service-btn:hover {
    background-color: rgb(235, 61, 17);
}

@media only screen and (max-width: 850px) {
    .banner-text {
        margin: 0 0 0 400px;
    }
}

@media only screen and (max-width: 700px) {
    .banner-text {
        margin: 0 0 0 0;
    }

    .banner-text p {
        font-size: 15px;
    }
}